:root {
    --silver: #C2C3BAff;
    --battleship-gray: #9E9993ff;
    --dark-slate-gray: #3E534Fff;
    --brown-sugar: #9B6953ff;
    --jet: #333436ff;
    --waller-blue: #63D2FF;
    font-family: "Dm serif display";
}

a {
    text-decoration: none;
    font-style:bold;
    color: white;
}

a:hover {
    font-style:italic;
}

h1 {
    margin: 0px;
}

hr {
    margin-top: 2em;
    width: 40%;
    border-width: 0 0 10px 0;
    border-style: dotted;
    border-color: #ccc;
    margin: 0 auto;
}




body {
    margin: 0px;
    color: white;
    background-color: var(--battleship-gray);
}

nav {
    margin-bottom:0px;
    background-color: var(--jet);
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    border-bottom: var(--silver) solid;
}   

.title {
    object-fit: cover;
    margin-top: 0px;
    height: 100vh;
}

img.title {
    width: 100vw;
    z-index: -1;
}

.text-box {
    display: inline-block;
    position: relative;
    top: -55%;
    left: 45%;
    transform: translate(-70%, -80%);
    font-size: 1.6em;
    /* border-style: solid; */
    z-index: 2;
}

h1.name {
    font-size: 2em;
}

h2.description {
    font-size: .75em;
}

.introduction {
    display: block;
    padding-top: 10%;
    text-align:center;
}

#profile {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    width: 10rem;
    border-style: solid;
    border-color: var(--battleship-gray);
    border-width: 10px;
}

.three-col {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

@media (max-width: 950px) {
    .three-col {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.card {
    display: inline-block;
    color: var(--jet);
    font-family: "Roboto";
    background-color: var(--silver);
    border-radius: 8px;
    height: 30rem;
    width: 100%;
    padding: 0%;
    box-shadow: 0px 5px 5px #666;
    overflow: hidden;
}


/* Card Contents */

ul {
    display: grid;
    text-align: center;
    gap: .5em;
    list-style-type: none;
    padding: 0;
    
}

li {
    text-decoration: none;
    color: var(--jet);
    width: 50%;
    margin: auto;
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

dt {
    font-weight:bold;
}

dd {
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0% 10%;

}

dd a {
    color: var(--jet);
    font-style: italic;
}

dd a:hover {
    font-style:normal;
}

.card-title {
    text-align: center;
    color: var(--dark-slate-gray);
}

.card-image {
    width: 100%;
    height: 10em;
    /* border-radius: 5% 5% 0% 0%; */
    object-fit: cover;
}

footer {
    background-color: var(--jet);
    display: flex;
    justify-content: center;
    padding: .4rem;
    margin-top: 10px;
    border-top: var(--silver) solid;
}



#about-thomas {
    text-align: center;
}




/* Contact Page Styles */


.contact-page {
    text-align: center;
}

.contact-info {
    padding-top: 10px;
}



.one-col {
    display: inline-block; 
    width: 50%;
    /* border: white solid; */
}

form {
    /* border: white solid; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 3px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 100%;
    padding: 5%;
}

.form-column-one,
.form-column-two {
    display: grid;
}


label {
    font-family: "roboto";
    padding: 10px;
}

input {
    height: 3em;
    width: 90%;
    border-radius: 5px;
    border-width: 1px;
    border: #a5a5a5 solid;
    
}

textarea {
    height: 7em;
    width: 90%;
    border-radius: 5px;

}

.button {
    height: 2em;
    padding: .3em;
    background-color: hsl(137, 100%, 60%);
    border: #a5a5a5 solid;
    border-width: 1px;
}

